.display-item-box {
	width: var(--c1);
	height: var(--c1);
	display: flex;
	flex-direction: column;
	position: relative;

	&:focus-visible {
		outline: none;
	}

	& > .contents {
		width: var(--c1);
	}

	& > .main-contents {
		height: calc(var(--c1) * 4 / 5);
		background-color: var(--myMainBackgroundColor);
	}

	& > .sub-contents {
		height: calc(var(--c1) * 1 / 10);
		flex-direction: row;
		background-color: var(--clear);

		& > .item-box {
			width: var(--c1);
			height: var(--c1);
			justify-content: space-between;

			& > .text-box {
				flex: 9;
				width: auto;
				height: var(--c1);
				background-color: var(--myElementBackgroundColor2);
				align-items: center;
				justify-content: center;
				font-size: 2rem;
			}

			& > .corner-box {
				flex: 1;
				width: auto;
				height: var(--c1);

				& > * {
					background-color: var(--myElementBackgroundColor2);
					width: var(--c1);
					height: var(--c1);
				}

				& > .corner {
					aspect-ratio: 1 / 1;
				}

				& > #control-box {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: calc(var(--p2) * 2);
				}

				& > #icon-box > iframe {
					aspect-ratio: 1/1;
					width: calc(var(--c1) * 3 / 4);
					height: calc(var(--c1) * 3 / 4);
				}
			}
		}
	}


	#corner-00 {
		border-radius: 999em 0 0 0;
	}

	#corner-10 {
		border-radius: 0 999em 0 0;
	}

	#corner-11 {
		border-radius: 0 0 999em 0;
	}

	#corner-01 {
		border-radius: 0 0 0 999em;
	}
}