/*

--myStylingWidth: 100vw;
--myStylingHeight: 100vh;
--myMainBackgroundColor: #ffffff;
--myTextColor: #131313;
--myElementBackgroundColor: #f9f9f9;
--myElementBackgroundColor2: #ffffff;
--myElementPadding: 0.5rem 2rem;

*/


:root {
	--w: calc(100% / 2);
	--c: calc(50% - var(--w) / 2);
}

* {
	color: inherit;
	background-color: inherit;
}

body {
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: calc(var(--myStylingWidth) * 1 / 100);
	top: calc(var(--myStylingHeight) * 1 / 100);
	width: calc(var(--myStylingWidth) * 98 / 100);
	height: calc(var(--myStylingHeight) * 98 / 100);
	color: var(--myTextColor);
	background-color: var(--myMainBackgroundColor);
	overflow-x: hidden;
}

div#root {
	display: flex;
	position: relative;
	flex-direction: column;
	width: calc(var(--w) * 2);
	height: calc(var(--w) * 2);
	color: inherit;
	background-color: inherit;

	& > div#sandbox-root {
		display: inherit;
		position: inherit;
		width: calc(var(--w) * 2);
		height: calc(var(--w) * 1.5);

		& > * {
			display: block;
			width: var(--w);
			height: calc(var(--w) * 2);
		}

		& > iframe {
			aspect-ratio: 16 / 9;
			border: none;
		}

		& + div#sandbox-bottom-root {
			display: flex;
			width: calc(var(--w) * 2);
			height: calc(var(--w) * 0.5);
			overflow: hidden;

			& > * {
				display: flex;
				flex-direction: column;
				position: relative;
				overflow-y: auto;
				height: 100%;

				& > * {
					width: 100%;
					display: inline-block;
					position: inherit;
				}

				& > *.root-title {
					width: calc(100% - 1rem);
					flex: 1;
					padding-left: 1rem;
					font-size: 1rem;
				}

				& > *.root-body {
					width: calc(100% - 2rem);
					flex: 9;
					padding-left: 2rem;
				}
			}

			& > div#console-root {
				background-color: var(--myElementBackgroundColor2);
				flex: 0.5;

			}

			& > div#setting-root {
				background-color: var(--myElementBackgroundColor);
				flex: 0.5;
			}
		}
	}
}

div#console-result {
	font-size: 0.9rem;
}