/*

--myStylingWidth: 100vw;
--myStylingHeight: 100vh;
--myMainBackgroundColor: #ffffff;
--myTextColor: #131313;
--myElementBackgroundColor: #f9f9f9;
--myElementBackgroundColor2: #ffffff;
--myElementPadding: 0.5rem 2rem;
--myStylingFontSize: 1rem;
*/


:root {
	--w: calc(100% / 2);
	--p1: 0.5rem;
	--p2: calc(var(--p1) * 2);
	--c: calc(50% - var(--w) / 2);
	--c2: calc((var(--w) - var(--p2)) * 2);
	--c3: calc(var(--w) * 2);
}

.my-element {
	color: inherit;
	background-color: inherit;
	overflow: hidden;
	font-size: var(--myStylingFontSize);
}

html {
	display: initial;
}

body {
	box-sizing: border-box;
	display: block;
	width: calc(var(--myStylingWidth) * 98 / 100);
	height: calc(var(--myStylingHeight) * 98 / 100);
	color: var(--myTextColor);
	background-color: var(--myMainBackgroundColor);

	div#root {
		width: var(--c3);
		height: var(--c3);
		display: flex;
		flex-direction: column;

		& > * {
			display: inherit;
			width: calc(var(--w) * 2);
		}

		& > div#title-root {
			flex: 5;

			& > * {
				flex-direction: row;
				justify-content: center;
				align-items: center;
				text-align: center;
				flex: 0.5;
				font-size: calc(var(--myStylingFontSize) * 2);
			}
		}

		& > div#contents-root {
			flex: 95;
			position: relative;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			& > * {
				justify-content: inherit;
				align-items: inherit;
				display: inherit;
				width: var(--c3);
			}

			& > div#sandbox-root {
				flex: 3;
				position: inherit;
				flex-direction: row;

				& > * {
					display: block;
					flex: 0.5;
					height: var(--c2);
					padding: var(--p2);
				}

				& > div#code-body {
					background-color: unset;
				}

				& > iframe {
					border: none;
				}
			}

			& > div#sandbox-bottom-root {
				flex: 1;
				position: relative;

				& > * {
					flex: 0.5;
					display: flex;
					justify-content: inherit;
					align-items: inherit;
					flex-direction: column;
					position: inherit;
					width: var(--c2);
					height: var(--c2);
					padding: var(--p2);

					& > * {
						width: var(--c3);
						display: block;
						position: inherit;
						background-color: var(--myElementBackgroundColor2);
					}

					& > *.root-title {
						flex: 2;
						font-size: var(--myStylingFontSize);
					}

					& > *.root-body {
						flex: 8;
					}
				}

			}
		}
	}
}

select {
	display: block;
}