@property --myLocalDefine-width {
	syntax: "<length>";
	inherits: true;
	initial-value: 100%;
}

@property --myLocalDefine-height {
	syntax: "<length>";
	inherits: true;
	initial-value: 100%;
}

:root {
	--w: calc(100% / 2);
	--p1: 0.5rem;
	--p2: calc(var(--p1) * 2);
	--c1: calc(var(--w) * 2);
	--c2: calc(var(--c1) - var(--p2) * 2);

	--myLocalDefine-width: 50%;
	--myLocalDefine-height: 100%;
}

html {
	position: absolute;
	left: calc(var(--myStylingWidth) * 1 / 100);
	top: calc(var(--myStylingHeight) * 1 / 100);
	width: calc(var(--myStylingWidth) * 98 / 100);
	min-height: calc(var(--myStylingHeight) * 98 / 100);
	font-family: var(--myStylingFontFamily);
	font-size: var(--myStylingFontSize);
	color: var(--myTextColor);
	background-color: var(--myMainBackgroundColor);

	& * {
		color: inherit;
		background-color: inherit;
		overflow: hidden;
		font-family: inherit;
		position: inherit;
		display: inherit;
	}

	head {
		display: unset;
	}

	& > body {
		position: relative;
		display: flex;
		flex-direction: column;
		left: calc(var(--c1) * 1 / 100);
		top: calc(var(--c1) * 1 / 100);
		width: calc(var(--c1) * 98 / 100);
		height: calc(var(--c1) * 98 / 100);

		& > main.main#main {
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;

			& > iframe {
				flex: 0.5;
				width: var(--myLocalDefine-width);
				height: var(--myLocalDefine-height);
				border: none;
				outline: none;
				display: unset;
			}
		}
	}
}

/*横長*/
@media (min-aspect-ratio: 1/1) {
	main.main#main {
		flex-direction: row;
		--myLocalDefine-width: 50%;
		--myLocalDefine-height: 100%;
	}
}

/*縦長*/
@media (max-aspect-ratio: 1/1) {
	main.main#main {
		flex-direction: column;
		--myLocalDefine-width: 100%;
		--myLocalDefine-height: 50%;
	}
}