@property --myLocalDefine--section-box--display {
	syntax: "*";
	inherits: true;
	initial-value: block;
}

@property --myLocalDefine--motion-contents-all-box--width {
	syntax: "<length>";
	inherits: true;
	initial-value: auto;
}

@property --myLocalDefine--motion-contents-all-box--height {
	syntax: "<length>";
	inherits: true;
	initial-value: auto;
}

@property --myLocalDefine--main-title--font-size {
	syntax: "<length>";
	inherits: true;
	initial-value: 1rem;
}


:root {
	--myLocalDefine--section-box--display: grid;
	--myLocalDefine--motion-contents-all-box--width: auto;
	--myLocalDefine--motion-contents-all-box--height: var(--c1);
	--myLocalDefine--main-title--font-size: calc(var(--p1) * 3);

}


/* 横長 */
@media (min-aspect-ratio: 1/1) {
	:root {
		--myLocalDefine--section-box--display: grid;
		--myLocalDefine--motion-contents-all-box--width: auto;
		--myLocalDefine--motion-contents-all-box--height: var(--c1);
		--myLocalDefine--main-title--font-size: calc(var(--p1) * 3);
	}
}

/* 縦長 */
@media (max-aspect-ratio: 1/1) {
	:root {
		--myLocalDefine--section-box--display: flex;
		--myLocalDefine--motion-contents-all-box--width: var(--c1);
		--myLocalDefine--motion-contents-all-box--height: var(--w);
		--myLocalDefine--main-title--font-size: calc(var(--p1) * 6);
	}
}

html {

	& > body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		left: var(--c3);
		top: var(--c3);
		width: var(--c4);
		height: var(--c4);

		& > main.main#main {
			position: static;
			width: var(--c1);
			height: var(--c1);

			& > #section-box {
				& + #setting-button {
					text-align: center;
					width: var(--c1);
					height: calc(var(--c-hd-h) * 2);
					font-size: 3rem;
				}

				display: var(--myLocalDefine--section-box--display);
				width: var(--c1);
				height: var(--c-mn-h);
				overflow-y: auto;
				grid-template-columns: repeat(2, 1fr);
				justify-content: start;

				& > .motion-contents-all-box {
					width: var(--myLocalDefine--motion-contents-all-box--width);
					height: var(--myLocalDefine--motion-contents-all-box--height);
					grid-template-rows: var(--c-mn-h) auto;
					justify-content: center;

					& > .img-box {
						width: var(--c1);
						height: var(--c-mn-h);
						display: flex;

						& > .motion-contents {
							flex: 1;
							display: block;
						}
					}

					& > .title-box {
						width: var(--c1);
						height: calc(var(--c-hd-h) * 2);
						display: grid;
						grid-template-columns: 1fr;
						grid-template-rows: 4fr 1fr;
						justify-content: center;

						& > * {
							display: flex;
							justify-content: center;
						}

						& > .main-title-box {
							width: var(--c1);
							height: var(--c1);

							> .main-title {
								width: var(--c1);
								height: var(--w);

								& #main-title {
									width: var(--c-mn-h);
									height: var(--c1);
									display: block;
									white-space: nowrap;
									text-overflow: ellipsis;
									text-align: center;
									font-size: var(--myLocalDefine--main-title--font-size);
								}
							}
						}

						& > .sub-title {
							width: var(--c1);
							height: var(--c1);

							&[data-mydef--sub-title-status="normal"] {
								background-color: var(--lightgreen10);

								&::after {
									content: "OK";
									width: var(--c1);
									height: var(--c1);
									text-align: center;
									color: var(--myTextColor-inv);
								}
							}

							&[data-mydef--sub-title-status="alert"] {
								background-color: lightcoral;

								&::after {
									content: "Error";
									width: var(--c1);
									height: var(--c1);
									font-size: 1.5rem;
								}
							}
						}
					}
				}
			}
		}
	}
}