@property --myLocalDefine--section-box--display {
	syntax: "*";
	inherits: true;
	initial-value: block;
}

@property --myLocalDefine--motion-contents-all-box--width {
	syntax: "<length>";
	inherits: true;
	initial-value: auto;
}

@property --myLocalDefine--motion-contents-all-box--height {
	syntax: "<length>";
	inherits: true;
	initial-value: auto;
}

@property --myLocalDefine--main-title--font-size {
	syntax: "<length>";
	inherits: true;
	initial-value: 1rem;
}


:root {
	--w: calc(100% / 2);
	--p1: 0.5rem;
	--p2: calc(var(--p1) * 2);
	--c1: calc(var(--w) * 2);
	--c2: calc(var(--c1) - var(--p2) * 2);
	--c3: calc(var(--c1) * 1 / 100);
	--c4: calc(var(--c1) * 98 / 100);

	--c5: calc(var(--c1) * 80 / 100);

	--myLocalDefine--section-box--display: grid;
	--myLocalDefine--motion-contents-all-box--width: auto;
	--myLocalDefine--motion-contents-all-box--height: var(--c1);
	--myLocalDefine--main-title--font-size: calc(var(--p1) * 3);

}


/* 横長 */
@media (min-aspect-ratio: 1/1) {
	:root {
		--myLocalDefine--section-box--display: grid;
		--myLocalDefine--motion-contents-all-box--width: auto;
		--myLocalDefine--motion-contents-all-box--height: var(--c1);
		--myLocalDefine--main-title--font-size: calc(var(--p1) * 3);
	}
}

/* 縦長 */
@media (max-aspect-ratio: 1/1) {
	:root {
		--myLocalDefine--section-box--display: flex;
		--myLocalDefine--motion-contents-all-box--width: var(--c1);
		--myLocalDefine--motion-contents-all-box--height: var(--w);
		--myLocalDefine--main-title--font-size: calc(var(--p1) * 6);
	}
}

html {
	&[data-my-device-type="desktop"] {
		left: calc(var(--myStylingWidth) * 1 / 100);
		top: calc(var(--myStylingHeight) * 1 / 100);
		width: var(--myStylingWidth);
		height: var(--myStylingHeight);
	}

	&[data-my-device-type="mobile"] {
		/*
		left: calc(var(--myStylingRealWidth) * 1 / 100);
		top: calc(var(--myStylingRealHeight) * 1 / 100);
		width: var(--myStylingRealWidth);
		height: var(--myStylingRealHeight);
		*/
		left: calc(var(--myStylingWidth) * 1 / 100);
		top: calc(var(--myStylingHeight) * 1 / 100);
		width: var(--myStylingWidth);
		height: var(--myStylingHeight);
	}

	position: absolute;
	font-family: var(--myStylingFontFamily);
	font-size: var(--myStylingFontSize);
	color: var(--myTextColor);
	background-color: var(--myMainBackgroundColor);

	& * {
		color: inherit;
		background-color: inherit;
		overflow: hidden;
		font-family: inherit;
		position: inherit;
		display: inherit;
		flex-direction: inherit;
		justify-content: inherit;
		align-items: inherit;
		border: none;
		padding: 0;
		margin: 0;
		outline: none;
	}

	& > head {
		display: none;
	}

	& > body {
		position: relative;
		left: var(--c3);
		top: var(--c3);
		width: var(--c4);
		height: var(--c4);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& > main.main#main {
			position: static;
			width: var(--c1);
			height: var(--c1);

			& > #section-box {
				display: var(--myLocalDefine--section-box--display);
				width: var(--c1);
				height: var(--c1);
				overflow-y: auto;
				grid-template-columns: repeat(2, 1fr);
				justify-content: start;

				& > .motion-contents-all-box {
					width: var(--myLocalDefine--motion-contents-all-box--width);
					height: var(--myLocalDefine--motion-contents-all-box--height);
					grid-template-rows: var(--c5) auto;
					justify-content: center;

					& > .img-box {
						width: var(--c1);
						height: var(--c1);
						display: flex;

						& > .motion-contents {
							flex: 1;
							display: block;
						}
					}

					& > .title-box {
						width: var(--c1);
						height: var(--c1);
						display: grid;
						grid-template-columns: 1fr;
						grid-template-rows: 4fr 1fr;
						justify-content: center;

						& > * {
							display: flex;
							justify-content: center;
						}

						& > .main-title-box {
							width: var(--c1);
							height: var(--c1);

							> .main-title {
								width: var(--c1);
								height: var(--w);

								& #main-title {
									width: var(--c5);
									height: var(--c1);
									display: block;
									white-space: nowrap;
									text-overflow: ellipsis;
									text-align: center;
									font-size: var(--myLocalDefine--main-title--font-size);
								}
							}
						}

						& > .sub-title {
							width: var(--c1);
							height: var(--c1);

							&[data-mydef--sub-title-status="normal"] {
								background-color: lightgreen;
							}

							&[data-mydef--sub-title-status="warn"] {
								background-color: yellow;
							}

							&[data-mydef--sub-title-status="alert"] {
								background-color: lightcoral;
							}
						}
					}
				}
			}
		}
	}
}