@property --myStylingLocalGridCols {
	syntax: "<integer>";
	inherits: false;
	initial-value: 5;
}

@property --myStylingLocalIconSize {
	syntax: "<integer>";
	inherits: false;
	initial-value: 14;
}

@container (aspect-ratio > 1) {
	:root {
		/*--myStylingLocalGridCols: 5;*/
		--myStylingLocalIconSize: 15;
	}
}

@container (aspect-ratio < 1) {
	:root {
		/*--myStylingLocalGridCols: 5;*/
		--myStylingLocalIconSize: 12;
	}
}

html {
	&[data-my-device-type="desktop"] > body {

		& > div#root {
			width: var(--c1);
			height: var(--c1);

			position: static;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			& button[type="button"] {
				width: calc(var(--p2) * 12);
				height: auto;
			}
		}
	}

	&[data-my-device-type="mobile"] > body {
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		& > div#root {
			width: 98vmax;
			height: 98vmin;

			& button[type="button"] {
				width: auto;
				height: calc(var(--w) * 1.5);
			}
		}

	}

	& > body > div#root > section#main-contents {
		width: var(--c1);
		height: var(--c1);
		display: grid;
		grid-auto-rows: 1fr 9fr;
		grid-template-columns: 1fr;
		gap: 0.5rem;
		padding: 0.25rem;
		place-items: center;

		& .title-element {
			font-size: 1.5rem;
		}

		& > #contents--title-box {
			width: var(--c1);
			height: var(--c1);
		}

		& > #contents--button-box {
			width: var(--c1);
			height: var(--c1);
			grid-template-rows: 6fr 3fr;
			grid-template-columns: 1fr;
			gap: calc(var(--p2) * 0.5);

			& > #button-box--item-box {
				width: var(--c1);
				height: var(--c1);
				grid-auto-rows: calc(var(--p2) * var(--myStylingLocalIconSize));
				grid-template-columns: repeat(var(--myStylingLocalGridCols), minmax(calc(var(--p2) * 20), 1fr));
				gap: calc(var(--p2) * 0.5);
				overflow-y: auto;
			}

			& > #button-box--task-bar {
				width: var(--c1);
				height: var(--c1);
				background-color: var(--myElementBackgroundColor2);
				grid-auto-rows: calc(var(--p2) * var(--myStylingLocalIconSize));
				grid-template-columns: repeat(var(--myStylingLocalGridCols), minmax(calc(var(--p2) * 20), 1fr));
				gap: calc(var(--p2) * 0.5);
			}

			& > #button-box--item-box > button[type="button"],
			& > #button-box--task-bar > button[type="button"] {
				display: flex;
				aspect-ratio: 1/1;
				padding: var(--p1);
				border-radius: calc(var(--p2) * 2);

				& > img {
					aspect-ratio: 1/1;
					width: var(--c-mn-h);
					height: auto;
					pointer-events: none;

					&.rl-reverse {
						transform: scaleX(-1);
					}

					&.tb-reverse {
						transform: scaleY(-1);
					}

					&.img-deg--90 {
						transform: rotate(90deg);
					}
				}
			}
		}
	}
}