:root {
	--mnt1: 0.25s;
}

html {
	position: absolute;
	left: calc(var(--myStylingWidth) * 0 / 100);
	top: calc(var(--myStylingHeight) * 0 / 100);
	width: calc(var(--myStylingWidth) * 100 / 100);
	height: calc(var(--myStylingHeight) * 100 / 100);
	font-family: var(--myStylingFontFamily);
	font-size: var(--myStylingFontSize);
	color: var(--myTextColor);
	background-color: var(--myMainBackgroundColor);

	& * {
		color: inherit;
		background-color: inherit;
		font-family: inherit;
		display: inherit;
		margin: 0px;
		flex-direction: inherit;
		justify-content: inherit;
		align-items: inherit;
		place-items: inherit;
		position: inherit;
		line-height: inherit;
		border-collapse: inherit;
		overflow: hidden hidden;
		/*box-shadow: var(--myElementBoxShadow);*/
		/*transition: background-color var(--mnt1) ease-out, color var(--mnt1) ease-in;*/
	}


	& > head {
		display: none;
	}

	&[data-my-device-type="desktop"] > body {
		width: var(--c1);
		height: var(--c1);

		& > div#root {
			width: var(--c1);
			height: var(--c1);
			left: 0;
			top: 0;

			position: static;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&[data-my-device-type="mobile"] > body {
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: var(--c1);
		height: var(--c1);

		& > div#root {
			width: 98vmin;
			height: 98vmin;
		}
	}

	& > body > div#root > section#main-contents {
		position: static;
		width: var(--c1);
		height: var(--c1);
		display: grid;


		& > button[type="button"] {
			display: block;
			aspect-ratio: 1/1;
			padding: var(--p1);
			width: auto;
			height: auto;

			& > * {
				aspect-ratio: 1/1;
				width: var(--c1);
				height: var(--c1);
			}

			& > .expanded-clear-element {
				position: relative;
				left: 0;
				top: calc(var(--c1) * -1);
				opacity: 0;
			}
		}



	}
}