* {
	box-sizing: border-box;
	user-select: none;
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	line-height: 2.0;
	background-repeat: no-repeat;
	text-align: center;
}

body {
	position: absolute;
	width: 99vw;
	height: 99vh;
	left: 0.5vw;
	top: 0.5vh;
	background-color: black;
	color: pink;
}

select#main-sel {
	text-align: center;
}