select#main-sel {
	display: block;
	appearance: none;
	background-color: lightgreen;
	color: green;
	width: var(--c-mn-h);
	height: var(--c-hd-h);
	/*height: minmax(calc(var(--p2) * 4), var(--c-hd-h));*/
	/*height: calc(var(--myStylingFontSize) * 5);*/
	padding: var(--p2) 0;
	font-size: calc(var(--c-ft-h) / 4);
	border-radius: calc(var(--p2) * 999);
	text-align: center;
	text-align-last: center;
	position: relative;
	left: 50%;
	top: 0%;
	transform: translate(-50%, 0%);
}