html {
	&[data-my-device-type="desktop"] {

		& #display-setting-main-contents-setting,
		& .display-inner-contents {
			flex-direction: row;

			& > * {
				height: var(--c1);
			}

			& > .tab-bar {
				flex-direction: column;
				width: calc(var(--c1) * 1 / 4);

				& > .tab-bar--contents--box {
					width: var(--c1);

					& > .tab-bar--contents {
						width: var(--c1);
						max-height: calc(var(--c-hd-h) * 2);
						cursor: pointer;

						& > .tab-bar--contents--item {
							justify-content: start;
						}

						&:hover > .tab-bar--contents--item::before {
							content: "";
							position: absolute;
							left: 0;
							top: 0;
							width: var(--c1);
							height: var(--c1);
							border-radius: calc(var(--p2) * 999);
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
							background-color: var(--gray1);
						}

						&[data-mydef--selected="true"] > .tab-bar--contents--item::before {
							content: "";
							opacity: 0.25;
							position: absolute;
							left: 0;
							top: 0;
							width: var(--c1);
							height: var(--c1);
							border-radius: calc(var(--p2) * 999);
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
							background-color: var(--myStylingUserPreferColor);
						}
					}
				}
			}

			& > .tab-contents-box {
				width: calc(var(--c1) * 3 / 4);

				& > .tab-contents-box--item {
					width: var(--c-mn-h);

					& > .item-all-box {
						max-height: var(--c1);

						& > .item-summary {
							flex: 8;
						}

						& > .item-box {
							flex: 2;
						}
					}
				}
			}
		}
	}

	&[data-my-device-type="mobile"] {

		& #display-setting-main-contents-setting,
		& .display-inner-contents {
			flex-direction: column;

			& > * {
				width: var(--c1);
			}

			& > .tab-bar {
				flex-direction: row;
				height: calc(var(--c-hd-h) * 2);

				& > .tab-bar--contents--box {
					width: var(--c1);

					& > .tab-bar--contents {
						width: calc(var(--c1) * 1.5 / 4);
						max-height: calc(var(--c1) * 2);

						&[data-mydef--selected="true"] {
							border-left: 0.125rem solid var(--myTextColor);
							border-top: 0.125rem solid var(--myTextColor);
							border-right: 0.125rem solid var(--myTextColor);
						}

						&[data-mydef--selected="false"] {
							border-bottom: 0.125rem solid var(--myTextColor);
						}
					}
				}
			}

			& > .tab-contents-box {
				height: var(--c-mn-h);

				& > .tab-contents-box--item {
					width: calc(var(--c-mn-h) + var(--c-hd-h));

					& > .item-all-box {
						height: var(--c-hd-h);

						& > .item-summary {
							font-size: 2rem;
							flex: 7;
						}

						& > .item-box {
							flex: 3;
						}
					}
				}
			}
		}
	}
}

#display-setting-main-contents-setting,
& .display-inner-contents {
	width: var(--c1);
	height: var(--c1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--p2) * 1.5);

	& > .tab-bar {
		font-size: 1.75rem;
		align-items: flex-start;
		justify-content: flex-start;
		border-right: var(--myTextColor) calc(var(--p2) * 0.125) solid;

		& > .tab-bar--contents--box {
			height: var(--c1);
			overflow: auto hidden;

			& > .tab-bar--contents {
				flex-shrink: 0;

				& > .tab-bar--contents--item {
					width: var(--c-mn-h);
					height: var(--c1);
					padding: var(--p1);
					padding-left: var(--p2);
					padding-right: 0;
					font-size: calc(var(--p2) * 2.5);
					text-align: start;
				}
			}
		}
	}

	& > .tab-contents-box {
		flex-direction: column;
		justify-content: space-around;

		& > .tab-contents-box--item {
			display: none;
			height: var(--c1);
			justify-content: flex-start;
			overflow-y: auto;

			& > .item-all-box {
				width: var(--c1);
				min-height: calc(var(--p2) * 3.5);
				max-height: calc(var(--p2) * 5);
				justify-content: space-between;
				flex-direction: row;
				margin-top: var(--p1);
				padding-top: calc(var(--p2) * 1.5);
				padding-bottom: var(--p2);
				border-top: var(--myTextColor) 2px solid;

				& > * {
					width: auto;
					height: var(--c1);
				}

				& > .item-summary {
					justify-content: flex-start;
				}

				& > .item-box {
					justify-content: center;

					& > .item {
						width: calc(var(--c1) * 3 / 4);
						height: calc(var(--c1) * 3 / 4);
						justify-content: flex-end;

						& > * {
							font-size: calc(var(--p2) * 1.25);
							cursor: pointer;

							&.allow-expand {
								display: block;
								width: var(--c1);
								height: var(--c1);
							}
						}
					}
				}
			}
		}
	}
}