*[data-mydef--my-editor--parent-element=""] > .utils--my-editor--root {
	background-color: var(--myMainBackgroundColor);
}

*[data-mydef--my-editor--parent-element*=""] > .utils--my-editor--root {
	background-color: attr(data-mydef--my-editor--parent-element);
}

.utils--my-editor--root {
	color: var(--myTextColor);
	width: var(--c1);
	height: var(--c1);

	& > .utils--my-editor--main-contents-box {
		width: var(--c1);
		height: var(--c-mn-h);
		overflow: auto auto;
		display: inline-block;

		& > .utils--my-editor--main-contents {
			min-width: var(--c1);
			min-height: calc(var(--c1) * 0.95);
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			font-family: var(--explex35c);

			& > .utils--my-editor--line-number--box {
				flex-direction: column;
				align-items: flex-start;
				width: calc(var(--p2) * 4);
				padding-right: var(--p1);
				user-select: none;

				& > .utils--my-editor--line-number {
					position: unset;
					width: var(--c1);

					& > .utils--my-editor--line-number--line-number {
						width: var(--c1);
						text-align: right;
						box-shadow: inset 0 calc(var(--p1) * -0.125) 0 var(--myTextColor);
					}
				}
			}

			& > .utils--my-editor--editor--box {
				width: var(--c1);

				& > .utils--my-editor--editor {
					width: calc(var(--c1) * 0.95);
					text-align: left;
					display: block;
					white-space: nowrap;
					overflow-x: auto;
					border: calc(var(--p2) * 0.125) solid var(--myTextColor);
				}
			}
		}
	}

	& > .utils--my-editor--sub-contents-box {
		width: var(--c1);
		height: calc(var(--c-hd-h) * 2);

		& > .utils--my-editor--sub-contents {
			width: var(--c1);
			height: var(--c1);
			display: grid;
			grid-auto-rows: calc(var(--p2) * 12);
			grid-template-columns: repeat(6, minmax(calc(var(--p2) * 12), 1fr));
			gap: calc(var(--p2) * 0.5);

			& > .utils--my-editor--sub-contents--button {
				width: var(--c1);
				height: var(--c1);
			}
		}
	}
}