*[data-mydef--my-editor--parent-element=""] > .utils--my-editor--root {
	background-color: var(--myMainBackgroundColor);
}

*[data-mydef--my-editor--parent-element*=""] > .utils--my-editor--root {
	background-color: attr(data-mydef--my-editor--parent-element);
}

.utils--my-editor--root {
	color: var(--myTextColor);
	width: var(--c1);
	height: var(--c1);

	& > .utils--my-editor--main-contents-box {
		width: var(--c1);
		height: var(--c1);
		overflow: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		& > .utils--my-editor--line-number--box {
			flex-direction: column;
			align-items: flex-start;
			width: calc(var(--p2) * 4);
			height: var(--c1);
			padding-right: var(--p1);
			user-select: none;

			& > .utils--my-editor--line-number {
				width: var(--c1);
				height: var(--c1);

				& > .utils--my-editor--line-number--line-number {
					display: inline-block;
					width: var(--c1);
					
				}
			}
		}

		& > .utils--my-editor--editor--box {
			width: calc(var(--c1) * 0.95);
			height: var(--c1);

			& > .utils--my-editor--editor {
				min-width: var(--c1);
				min-height: var(--c1);
				text-align: left;
				padding: var(--p1);
				display: block;
				white-space: pre-wrap;
				border: calc(var(--p2) * 0.125) solid var(--myTextColor);
			}
		}
	}
}