@import url("./toggle-switch-template.css");
@import url("./display-template.css");
@import url("./display-setting-template.css");
@import url("./display-confirm-template.css");
@import url("./display-alert-template.css");

@property --myStylingLocalDisplayWidth {
	syntax: "<length>";
	inherits: true;
	initial-value: 100%;
}

@property --myStylingLocalDisplayHeight {
	syntax: "<length>";
	inherits: true;
	initial-value: 100%;
}

:root {
	--w: 50%;
	--p1: 0.5rem;
	--p2: calc(var(--p1) * 2);
	--c1: 100%;
	--c2: calc(var(--c1) - var(--p2) * 2);
	--c3: calc(var(--c1) * 1 / 100);
	--c4: calc(var(--c1) * 98 / 100);

	--c-hd-h: calc(var(--c1) * 10 / 100);
	--c-mn-h: calc(var(--c-hd-h) * 8);
	--c-ft-h: calc(var(--myStylingHeight) * 20 / 100);

	--myStylingLocalDisplayWidth: var(--c-mn-h);
	--myStylingLocalDisplayHeight: var(--c-mn-h);

	--mnt1: 0.25s;
}

html {

	&[data-my-device-type="desktop"] > body {
		--myStylingLocalDisplayWidth: var(--c-mn-h);
		--myStylingLocalDisplayHeight: var(--c-mn-h);

		& .mobile-element {
			display: none !important;
		}

		& .desktop-element {
			display: initial;
		}

	}

	&[data-my-device-type="mobile"] > body {
		--myStylingLocalDisplayWidth: var(--c1);
		--myStylingLocalDisplayHeight: var(--c1);

		& .mobile-element {
			display: initial;
		}

		& .desktop-element {
			display: none !important;
		}

	}

	& .display-none,
	style {
		display: none !important;
	}

	& section {
		display: block;
	}

	& iframe {
		border: none;
	}

	& *:disabled {
		background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3)) !important;
		color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3)) !important;
		border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3)) !important;
	}

	& *.text-overflow-element {
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
	}

	& .deco-text {
		opacity: var(--c1);
		transition: opacity calc(var(--mnt1) * 1.25) ease-in-out;

		&::after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 0px;
			height: 2px;
			background-color: var(--myTextColor);
			transition: width calc(var(--mnt1) * 1.5) ease;
		}

		&:hover {
			opacity: calc(var(--c-mn-h) - var(--c-hd-h));

			&::after {
				width: 100%;
			}
		}
	}

	& .display-section {
		&[data-display-open="true"] {
			display: flex;
		}

		&[data-display-open="false"] {
			display: none;
		}

		width: var(--c1);
		height: var(--c1);
		align-items: center;
		justify-content: center;

		& > .display-section--div-main {
			background-color: var(--clear);
			width: var(--myStylingLocalDisplayWidth);
			height: var(--myStylingLocalDisplayHeight);
		}
	}

	& .background-blur {
		background-color: var(--clear);
		position: fixed;
		z-index: 991;
		left: 0;
		top: 0;
		width: var(--myStylingWidth);
		height: var(--myStylingHeight);

		&::before {
			content: "";
			background-color: var(--gray7);
			backdrop-filter: blur(0.125rem);
			left: 0;
			top: 0;
			width: var(--c1);
			height: var(--c1);
		}
	}

	& .important-section-0 {
		z-index: 990 !important;
	}

	& .important-section-1 {
		z-index: 991 !important;
	}

	& .important-section-2 {
		z-index: 992 !important;
	}
}