#all-articles-display-div-main {
	width: var(--c1);
	height: var(--c1);
	display: grid;

	#all-articles-main-contents {
		width: var(--c1);
		height: var(--c1);
		grid-template-columns: 1fr;
		grid-template-rows: 3fr 7fr;
		gap: 2rem;
		place-items: center;

		& > *,
		& > * > * {
			box-shadow: var(--myElementBoxShadow);
		}

		.type-search--input--box {
			width: var(--c1);
			height: var(--c1);
			display: flex;
			justify-content: center;
			align-items: center;

			#main--input--type-search {
				width: var(--c-mn-h);
				height: calc(var(--c1) / 3);
				border-radius: 999rem;
			}
		}

		.article-contents--box {
			width: var(--c1);
			height: var(--c1);
			grid-template-rows: repeat(auto-fit, mixmax(320px, 1fr));
			grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
			gap: 1rem;

			& > .article-card {
				background-color: var(--myMainBackgroundColor);
				min-width: auto;
				min-height: auto;
				aspect-ratio: 16/9;
				grid-template-columns: 1fr;
				grid-template-rows: 7fr 3fr;

				&:hover {
					transform: scale(1.125);

					&::after {
						content: "";
						position: absolute;
						background-color: var(--gray5);
						left: 0;
						top: 0;
						width: var(--c1);
						height: var(--c1);
					}
				}

				& > * {
					width: var(--c-mn-h);
					height: var(--c1);
					white-space: nowrap;
					text-overflow: ellipsis;
					text-align: center;
				}

				& > .article-card--title {
					font-size: 0.9rem;
				}
			}
		}
	}

}