#all-articles-display-div-main {
	width: var(--c1);
	height: var(--c1);
	display: grid;

	#all-articles-main-contents {
		width: var(--c1);
		height: var(--c1);
		grid-template-columns: 1fr 8fr 1fr;
		grid-template-rows: 1fr;

		& > *,
		& > * > * {
			box-shadow: var(--myElementBoxShadow);
			background-color: var(--myMainBackgroundColor);
		}

		.type-search--input--box {
			width: var(--c1);
			height: var(--c1);
			display: flex;
			justify-content: center;
			align-items: center;

			#main--input--type-search {
				width: var(--c-mn-h);
				height: calc(var(--c1) / 3);
				border-radius: 999rem;
			}
		}

		.article-contents--box {
			width: var(--c1);
			height: var(--c1);
			grid-template-columns: repeat(auto-fit, mixmax(240px, 1fr));
			grid-template-rows: auto;

			& > .article-card {
				aspect-ratio: 16/9;
				grid-template-columns: 7fr 3fr;
				grid-template-rows: 1fr;

				&:hover {
					transform: scale(1.25);

					&::after {
						content: "";
						position: absolute;
						background-color: var(--gray7);
						backdrop-filter: blur(0.125rem);
						left: 0;
						top: 0;
						width: var(--c1);
						height: var(--c1);
					}
				}
			}
		}
	}

}