#edit-article-display-div-main {
	width: var(--c1);
	height: var(--c1);
	display: grid;
	grid-template-columns: 1fr;

	& > #edit-article-main-contents {
		width: var(--c1);
		height: var(--c1);
		grid-template-rows: 1fr 9fr;
		grid-template-columns: 1fr;
		gap: 0.0rem;

		& .extra-space {
			width: fit-content;
			height: fit-content;
		}

		& > .control--box {
			grid-template-rows: 1fr;
			grid-template-columns: 7fr 3fr;

			& > .button-div--box {
				grid-template-rows: 1fr;
				grid-template-columns: 3fr 3fr 3fr;
				gap: 0.25rem;

				& > input[type="button"] {
					width: var(--c1);
					height: var(--c1);

					&#edit-article-display--input--button--backup {
						background-color: light-dark(blue, lightblue);
					}

					&#edit-article-display--input--button--draft {
						background-color: var(--myElementBackgroundColor2);
					}

					&#edit-article-display--input--button--save {
						background-color: light-dark(lightgreen, green);
					}

					:hover {
						box-shadow: inset 0 0 0.5rem var(--myTextColor);
					}

				}
			}
		}

		& > .editor-result--box {
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr;

			& > .textarea--box {
				& > textarea {
					display: block;
					width: var(--c1);
					height: var(--c1);
				}
			}

			& > .result-display--box {
				display: flex;
				align-items: center;
				justify-content: center;
				width: var(--c1);
				min-height: var(--c1);
				overflow-y: auto;
				& > .result-display--root {
					width: calc(var(--c1) * 90 / 100);
				}
			}
		}
	}
}