html[data-my-device-type="mobile"] div#main-contentsbox {
	font-size: 1.75rem;
}

.main-contentsbox {
	width: var(--c1);
	text-align: left;

	& > * {
		line-height: 1.5;

		& * {
			line-height: normal;
		}
	}

	& [data-mydef--article-tag="title"] {
		font-size: 2.5rem;
		font-weight: 800;
		width: var(--c1);
		height: calc(var(--c-hd-h) * 1.75);
	}

	& table {
		color: inherit;
		border-collapse: collapse;
		letter-spacing: 1px;
		display: table;
		border: 2px solid rgb(180 180 180);

		& caption {
			display: table-caption;
			caption-side: bottom;
			padding: 10px;
			font-weight: bold;
		}

		& thead {
			display: table-header-group;
			vertical-align: middle;
			background-color: var(--myMainBackgroundColor);
		}

		& tfoot {
			display: table-footer-group;
			vertical-align: middle;
		}

		& tr {
			display: table-row;
		}

		& th,
		td {
			display: table-cell;
			padding: 8px 10px;
		}

		& td:last-of-type {
			text-align: center;
		}

		& tbody {
			display: table-row-group;

			& > tr:nth-of-type(even) {
				background-color: var(--myMainBackgroundColor);
			}
		}

		& tfoot th {
			text-align: right;
		}

		& tfoot td {
			font-weight: bold;
		}
	}

	& dl {
		& > dt {
			font-weight: bold;
		}

		& > dd {
			margin-inline-start: 2rem;
		}
	}

	& details {
		& > summary {
			display: list-item;

			&::marker {
				font-family: "Segoe UI",
					"Hiragino Sans",
					"Noto Sans JP",
					"BIZ UDPGothic",
					"Meiryo",
					sans-serif;
				transform: scale(1.5);
				content: "▶ ";
			}
		}

		&:open > summary {
			display: list-item;

			&::marker {
				font-family: "Segoe UI",
					"Hiragino Sans",
					"Noto Sans JP",
					"BIZ UDPGothic",
					"Meiryo",
					sans-serif;
				content: "▼ ";
			}
		}
	}

	& ol {
		list-style: decimal;
	}

	& ul {
		list-style: disc;
	}

	& li {
		display: list-item;
	}

	& ol,
	& ul,
	& li {
		overflow: visible;
	}

	& strong {
		display: inline;
		font-weight: bold;
	}

	& a {
		color: var(--myStylingUserPreferColor);
		display: inline;
	}

	& div {
		&.hn-div {
			padding-bottom: calc(var(--c-hd-h) / 4);

			& h1,
			h2 {
				border-bottom: 1px solid var(--myTextColor);
			}

			& h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				padding-top: calc(var(--c-hd-h) / 2);
			}
		}

		&.byref-div {
			padding-left: calc(var(--p2) * 2);
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: calc(var(--p1) * 3 / 4);
				height: 100%;
				background-color: var(--myStylingUserPreferColor);
			}
		}

		&.img-box {
			width: var(--c-mn-h);
			cursor: pointer;

			& > img {
				width: var(--c-mn-h);
			}

			& > dialog {
				border: none;
				padding: 0;
				background-color: var(--clear);


				&:open {
					display: block;
					width: var(--c1);
					height: var(--c1);
				}

				&:not([open]) {
					display: none;
				}

				&::backdrop {
					background-color: var(--black8);
				}

				& > img {
					position: relative;
					left: 0;
					top: 0;
					width: calc(var(--c-hd-h) + var(--c-mn-h));
					height: calc(var(--c-hd-h) + var(--c-mn-h));
				}
			}
		}

		&.easy-text-deco {
			display: inline;
		}

		&.text-line-through {
			text-decoration: line-through;
		}

		&.text-bold {
			font-weight: 900;
		}

		&.text-italic {
			font-style: italic;
		}

		&.text-underline {
			text-decoration-line: underline;
			text-decoration-color: var(--myTextColor);
			text-decoration-thickness: calc(var(--p1) / 4);
		}

		&.code-frame {
			position: relative;

			&.code-iframe-common-styles {
				border-radius: var(--p1);
				margin: calc(var(--p2) * 1.5) calc(var(--p2) * -1);
				padding: 0 var(--p2);

				& > * {
					padding-left: var(--p2);
				}
			}

			&.embed-iframe-root {
				display: flex;
				flex-direction: row;
				left: calc(50% - var(--c-mn-h) / 2);
				width: var(--c-mn-h);
				height: calc(var(--c-ft-h) * 8 / 10);
				box-shadow: var(--myElementBoxShadow);
				cursor: pointer;

				& > a {
					width: var(--c1);
					height: var(--c1);
					text-decoration: none;
					color: initial;
					display: inherit;

					& > div.embed-iframe-inner-title-root {
						flex: 7;
						flex-direction: column;
						align-items: flex-start;

						& > div.embed-iframe-inner-title-box {
							flex: 1;
							align-items: flex-end;
							word-wrap: break-word;
							font-size: var(--p2);
						}

						& > div.embed-iframe-inner-title-hostname {
							flex: 1;
							align-items: flex-start;
							font-size: calc(var(--p2) * 75 / 100);
						}
					}

					& > div.embed-iframe-inner-embed-iframe-root {
						flex: 3;
						width: auto;
						height: auto;
						display: block;
					}
				}
			}

			&.code-frame-normal {
				background-color: black;
				color: white;

				--copy-button-display: none;

				&:hover {
					--copy-button-display: flex;
				}

				& > div.code-option-root {
					display: flex;
					flex-direction: row;
					width: var(--c1);
					height: calc(var(--p2) * 2);

					& > * {
						flex: 1;
						height: var(--c1);
					}

					& > .file-info-box {
						justify-content: flex-start;

						& > .file-name-box {
							display: block;
							width: var(--c1);

							&::before {
								content: attr(code-frame-filename);
								display: inline-block;
								background-color: #404040;
								color: lightgray;
								padding: calc(var(--p1) * 1 / 2) var(--p2);
								border-radius: 0 0 calc(var(--p1) * 1.5) calc(var(--p1) * 1.5);
							}
						}
					}

					& > .code-option-box {
						justify-content: flex-end;

						& > * {
							width: auto;
							height: var(--c1);
						}

						& > .code-copied-flag-root {
							flex: 1;

							& > .code-copied-flag {
								display: inline;
							}
						}

						& > .code-copy-button-root {
							flex: 1;

							& > div.code-copy-button {
								display: var(--copy-button-display);
								position: absolute;
								top: 0;
								right: calc(var(--p2) * 3);
								aspect-ratio: 1 / 1;
								width: var(--w);
								height: calc(var(--p2) * 2);
								flex-direction: row;
								justify-content: flex-end;
								background-color: transparent;
								opacity: 1;

								& > * {
									position: relative;
									display: block;
								}

								& button {
									border: none;
								}

								&:hover {
									opacity: 0.75;
								}
							}

						}

					}
				}

				& > pre {
					min-width: auto;
					min-height: auto;

					& > code {
						min-width: auto;
						min-height: auto;
						overflow: auto auto;
					}
				}
			}

			&.code-frame-mini {
				background-color: light-dark(#b6b6b680, #d3d3d380);
				color: #202020;
				font-size: calc(var(--p2) * 9 / 10);
				border-radius: calc(var(--p1) / 3);
				padding: calc(var(--p1) / 3);
			}

			&.line-multi {
				display: block;
			}

			&.line-solo {
				display: inline;
			}
		}

		&.note-class {
			font-family: "FontAwesome";
			font-weight: normal;
			border-radius: var(--p1);
			padding: calc(var(--p2) * 1.25);
			margin: calc(var(--p2) * 1.25);
			color: var(--myTextColor);

			&.note-info {
				background-color: var(--note-info-bgc);

				& > span.note-mark-span {
					color: var(--note-info-bgc-rvs);
				}
			}

			&.note-warn {
				background-color: var(--note-warn-bgc);

				& > span.note-mark-span {
					color: var(--note-warn-bgc-rvs);
				}
			}

			&.note-alert {
				background-color: var(--note-alert-bgc);

				& > span.note-mark-span {
					color: var(--note-alert-bgc-rvs);
				}
			}
		}
	}
}