* {
	box-sizing: border-box;
	user-select: none;
	margin: 0;
	padding: 0;
	line-height: 2.0;
	background-repeat: no-repeat;
}

body {
	position: absolute;
	width: 99vw;
	height: 99vh;
	left: 0.5vw;
	top: 0.5vh;
	background-color: lightgray;
}