.display--sub-contents {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	> * {
		display: flex !important;
		width: 100%;

		> * {
			border: var(--d-bd-s);
			background-color: var(--d-bgc1);
		}

		> .corner {
			width: auto;
			aspect-ratio: 1 / 1 !important;
		}

		> *:not(.corner) {
			width: 100%;
		}
	}

	* {
		display: inherit;
		justify-content: inherit;
		align-items: inherit;
		flex-direction: inherit;
		height: 100%;
	}

	&.display--header {
		> * > * {
			border-top-color: var(--d-bdc);
			/*box-shadow: var(--d-shdw-t);*/
		}

		> .left > .left--left {
			border-left-color: var(--d-bdc);
			border-top-left-radius: 999rem;
			/*box-shadow: var(--d-shdw-t), var(--d-shdw-l);*/
		}

		> .right > .right--right {
			border-right-color: var(--d-bdc);
			border-top-right-radius: 999rem;
			box-shadow: var(--d-shdw-r);
		}
	}

	&.display--footer {
		> * > * {
			border-bottom-color: var(--d-bdc);
			box-shadow: var(--d-shdw-b);
		}

		> .left > .left--left {
			border-left-color: var(--d-bdc);
			border-bottom-left-radius: 999rem;
			/*box-shadow: var(--d-shdw-b), var(--d-shdw-l);*/
		}

		> .right > .right--right {
			border-right-color: var(--d-bdc);
			border-bottom-right-radius: 999rem;
			box-shadow: var(--d-shdw-b), var(--d-shdw-r);
		}
	}

	> .middle > .middle--title {
		font-size: 1.5rem;
	}


	> .right button {
		width: 100%;
		font-size: 3rem;
		&:not(:hover) {
			border-color: rgba(0, 0, 0, 0);
		}
	}
}