:root {
	--d-bgc1: rgb(48, 48, 48);
	--d-bgc2: #404040;
	--d-bdc: rgba(192, 132, 252, 0.15);
	--d-bdw: 0.0125rem;
	--d-bdw: 1px;
	--d-bd-s: var(--d-bdw) transparent solid;

	--d-bkdp-bgc: rgba(128, 128, 128, 0.5);

	--d-shdw-fc: rgba(0, 0, 0, 0.5);
	--d-shdw-w: 5px;
	--d-shdw-rw: calc(-1 * var(--d-shdw-w));
	--d-shdw-r:
		var(--d-shdw-fc) var(--d-shdw-w) 0px 0px;
	--d-shdw-b:
		var(--d-shdw-fc) 0px var(--d-shdw-w) 0px;
	--d-shdw-t:
		var(--d-shdw-fc) 0px var(--d-shdw-rw) 0px;
	--d-shdw-l:
		var(--d-shdw-fc) var(--d-shdw-rw) 0px 0px;
}

.display-root {
	width: 90%;
	height: 90%;
	display: none;
	position: static;
	grid-template-columns: 1fr;
	flex-direction: column;

	background-color: transparent;

	&[data-mydef--reactjs-display--only-main-contents="false"] {
		grid-template-rows: 1fr 8fr 1fr;
	}

	&[data-mydef--reactjs-display--only-main-contents="true"] {
		grid-template-rows: 1fr;
	}

	> * {
		width: 100%;
		height: 100%;
	}

	&:popover-open {
		display: grid;
		border: none;
		position: fixed;
	}

	&::backdrop {
		background-color: var(--d-bkdp-bgc);
		width: 100%;
		height: 100%;
	}
}

button {
	background-color: inherit;
	border: var(--d-bd-s);
	border-color: var(--d-bdc);

	&:hover {
		opacity: 0.75;
		border-color: white;
	}
}