@property --svgRectBackgroundColor {
	syntax: "<color>";
	inherits: false;
}

:root {
	--svgRectBackgroundColor: red;
}

svg {
	background-color: transparent;
	overflow: hidden;
	display: block;
}